mixin pageContentHeader(name, subtitle)
    .page-header.js-scrollbanner.dark
        +parallaxHeader({img: `i/index/parallax/${name}-parallax.jpg` , theme: 'dark'})
        //+parallaxHeader({img: `i/index/parallax/_${name}-parallax.jpg`})
        //._top
        //    ._img.jarallax(data-speed="0.2" style="background-image: url(i/" + name + "-parallax.png)")
        ._wrap.js-scroll-to
            h1(class=name).page-header__title.js-title-maker
                span.page-header__title-name.js-title-text=name
                    span.animate-title-block
            h3.a-subtitle.page-header__subtitle=subtitle